<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="/assets/images/logo.png" class="logo" alt="Illustracoder Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="animation-container">
                    <img src="/assets/images/brackets.png" class="brackets" alt="">
                    <h1 class="illustracoder"></h1>
                    <img src="/assets/images/compose_1.png" class="compose" alt="">
                    <a href="#" class="btn-booking">Book a Call</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="lets-talk">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <img src="/assets/images/lets-talk.png" class="animate__animated animate__pulse animate__slow animate__infinite" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-container" data-aos="fade-left" data-aos-once="true" data-aos-offset="1000" data-aos-duration="2000">
                    <h3>Build a stronger brand and future with our tailored digital solutions</h3>
                    <p>Stand out in your industry with tailored digital solutions that drive growth. Position your brand for lasting success, and let's work together to reach your business goals.</p>
                    <a href="#">Let's talk about your project</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <marquee direction="left" scrollamount="20">
        <h1>illustracoder</h1>
    </marquee>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/ecohosting.png" alt="">
                            </div>
                            <a href="javascript:void(0);">Eco-hosting and VPS</a>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/software-development.png" alt="">
                            </div>
                            <a href="javascript:void(0);">Software Development</a>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/mobile-applications.png" alt="">
                            </div>
                            <a href="javascript:void(0);">Mobile Applications</a>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/ui-ux-design.png" alt="">
                            </div>
                            <a href="javascript:void(0);">UI - UX Design</a>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/visual-identity.png" alt="">
                            </div>
                            <a href="javascript:void(0);">Visual Identity</a>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/web-development.png" alt="">
                            </div>
                            <a href="javascript:void(0);">Web Development</a>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-image">
                                <img src="/assets/images/services/cybersecurity.png" alt="">
                            </div>
                            <a href="javascript:void(0);">Cybersecurity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="discover">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="phrase-container">
                    <img src="/assets/images/illustracoder-favicon.png" alt="">
                    <p><span class="first">Discover</span><br><span class="second">what we're</span><br><span class="third">working</span><br><span class="fourth">on right</span><br><span class="fifth">NOW!!</span></p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="background-container">
                    <a href="#"  data-aos="fade-up" data-aos-once="true" data-aos-offset="1300" data-aos-duration="2000">Book a Call</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <img src="/assets/images/projects/creos/image_1.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/creos/image_2.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/creos/image_3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <img src="/assets/images/projects/stander/image_1.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/stander/image_2.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/stander/image_3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <img src="/assets/images/projects/loopedlife/image_1.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/loopedlife/image_2.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/loopedlife/image_3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <img src="/assets/images/projects/crm-car-audio/image_1.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/crm-car-audio/image_2.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/images/projects/crm-car-audio/image_3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Follow us for updates<br>and inspiration</h2>
                <ul>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>